body {
  font-family: 'Encode Sans', sans-serif;
  box-sizing: border-box;
  width: 100vw;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
}

nav {
  display: flex;
  justify-content: space-evenly;

  font-size: 19px;
  font-weight: bold;

  padding: 10px 0;
  border-top: solid 1px #F5F6F7;
  border-bottom: solid 1px #F5F6F7;
}

.conteudo {
  display: flex;
  max-width: 1250px;

  margin: 36px auto 0 auto;
  padding: 0 50px;
}

.container {
  padding-right: 36px;
  border-right: 1px solid #EBEDEF;
}

.subtitulos {
  padding: 29px 0 25px 0;
  border-bottom: 1px solid #EBEDEF;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 67px;
  color: #C4160C;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  color: #303134;
}

h3 {
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #2F3134;

  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  margin: 11px 0 6px 0;
}

p {
  color: #2F3134;
  line-height: 19px;
  font-size: 14px;
  margin-bottom: 9px;
}

.primeiras-noticias {
  display: flex;
  justify-content: space-between;

  padding: 25px 0 25px 0;
}

.divisao {
  border-bottom: 1px solid #EBEDEF;
}

.primeiras-noticias a {
  width: 193px;
}

.primeiras-noticias h4 {
  color: #C4170C;
}

.noticia-mais-foto img {
  border-radius: 12px;
  width: 193px;
  height: 110px;
}

.segundas-noticias {
  display: flex;
}

.segundas-noticias img {
  width: 240px;
  height: 128px;
  
  border-radius: 12px;
}

.primeira-coluna-noticias {
  padding: 0 35px;
  border-right: 1px solid #EBEDEF;
}

.primeira-coluna-noticias h4 {
  color: #16AE54;
}

.segunda-coluna-noticias {
  padding: 0 0 0 35px;
} 

.segunda-coluna-noticias h4 {
  color: #EC8006;
} 
