body {
  font-family: 'Encode Sans', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
}

nav {
  display: flex;
  justify-content: space-evenly;

  font-size: 19px;

  padding: 4px 0;
  border-top: solid 1px #F5F6F7;
  border-bottom: solid 1px #F5F6F7;
}

.content {
  display: flex;
  justify-content: center;
  width: 1250px;
}

.primeiras-noticias {
  display: flex;
}

.noticia-mais-foto img {
  border-radius: 12px;
  width: 193px;
  height: 110px;
}

.segundas-noticias {
  display: flex;
}

.segundas-noticias img {
  width: 240px;
  height: 128px;

  border-radius: 12px;
}