body {
  font-family: 'Encode Sans', sans-serif;
  width: 100vw;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #F5F6F7;
  border-radius: 12px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
}

nav {
  text-align: -webkit-center;

  font-size: 19px;
  font-weight: bold;

  padding: 10px 0;
  border-top: solid 1px #F5F6F7;
  border-bottom: solid 1px #F5F6F7;
}

ul {
  display: flex;
  justify-content: space-between;

  max-width: 1250px;
}

.selecao a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.conteudo {
  display: flex;
  justify-content: center;
  width: 1250px;

  margin: 36px auto 0 auto;
}

.container {
  padding-right: 2.25rem;
  border-right: 1px solid #EBEDEF;
}

.subtitulos {
  padding: 29px 0 25px 0;
  border-bottom: 1px solid #EBEDEF;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 67px;
  color: #C4160C;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  color: #303134;
}

h3 {
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #2F3134;

  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  margin: 11px 0 6px 0;
}

p {
  color: #2F3134;
  line-height: 19px;
  font-size: 14px;
  margin-bottom: 9px;
}

.primeiras-noticias {
  display: flex;
  justify-content: space-between;

  padding: 25px 0 25px 0;
}

.divisao {
  border-bottom: 1px solid #EBEDEF;
}

.primeiras-noticias a {
  width: auto;
  max-width: 12.06rem;
}

.primeiras-noticias h4 {
  color: #C4170C;
}

.noticia-mais-foto img {
  border-radius: 12px;
  width: auto;
  max-height: 6.875rem;
}

.segundas-noticias {
  display: flex;
}

.segundas-noticias img {
  width: auto;
  max-width: 15rem;
  max-height: 8rem;
  
  border-radius: 12px;
}

.primeira-coluna-noticias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 2.18rem;
  border-right: 1px solid #EBEDEF;
}

.primeira-coluna-noticias h4 {
  color: #16AE54;
}

.segunda-coluna-noticias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 0 0 35px;
} 

.segunda-coluna-noticias h4 {
  color: #EC8006;
} 


/*    MOBILE    */
@media (max-width: 769px) {
  header {
    background-image: url("/assets/logo_mobile.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .logo img {
    display: none;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    line-height: 30px;
  }

  .conteudo {
    flex-direction: column;
  }

  .primeiras-noticias {
    flex-direction: column;
  }

  .segundas-noticias {
    flex-direction: column;
  }

  .primeira-coluna-noticias {
    padding: 0;
  }

  .segunda-coluna-noticias {
    padding: 0;
  }

}
